.email {
    margin: auto;
    width: 90%;
    padding: 5px;
}

.inputEmail {
    width: 500px;
    background: #fff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.inputBtn {
    display: inline-block;
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 6px 13px;
    font: inherit;
    margin-left: -96px;
    border: 0;
    outline: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.inputBtn:hover {
    filter: brightness(90%)
}